.phone {
    background-color: green;
    width: 70px;
    height: 70px;
    display: inline-block;
    position: fixed;
    bottom: 25px;
    left: 24px;
    font-size: 48px;
    color: white;
    border-radius: 50%;
    padding: 9px 10px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .phone {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .phone {
        display: none;
    }
}