.placeholder {
    width: 100%;
    min-height: 460px;
    background-color: #556E5B;
}

.parallax-window {
    min-height: 650px;
    background: transparent;
    position: relative;
    background-image: url("../../images/caryta-02.jpeg");
    background-size: cover;
    background-position: bottom;
}

.tm-header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    z-index: 1000;
}

.tm-header-inner {
    padding: 30px 50px;
}

@media (max-width: 991px) {
    .tm-header-inner {
        padding: 30px 15px;
    }
}

.header-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #266c78;
}